.container {
  display: flex;
  height: 100vh;         
}

.map-column {
  flex: 2;
  padding: 0;
}

.map-column object {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

.info-column {
  flex: 1;
  padding: 1rem;
  border-left: 1px solid #ccc;
  overflow-y: auto;
}


